CSharp/Arvore Binaria de Busca/
CSharp/Diferenca/.vs/Diferenca/FileContentIndex/
CSharp/Diferenca/.vs/Diferenca/v17/.futdcache.v2
CSharp/Diferenca/.vs/ProjectEvaluation/
CSharp/F\303\263rmula de Bhaskara/bin/
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.csproj.BuildWithSkipAnalyzers
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.csproj.CoreCompileInputs.cache
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.csproj.FileListAbsolute.txt
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.dll
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.genruntimeconfig.cache
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.pdb
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/F\303\263rmula de Bhaskara.sourcelink.json
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/apphost.exe
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/ref/
CSharp/F\303\263rmula de Bhaskara/obj/Debug/net8.0/refint/
CSharp/JogandoCartasFora/.vs/
CSharp/JogandoCartasFora/bin/
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.csproj.BuildWithSkipAnalyzers
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.csproj.CoreCompileInputs.cache
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.csproj.FileListAbsolute.txt
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.dll
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.genruntimeconfig.cache
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.pdb
CSharp/JogandoCartasFora/obj/Debug/net8.0/JogandoCartasFora.sourcelink.json
CSharp/JogandoCartasFora/obj/Debug/net8.0/apphost.exe
CSharp/JogandoCartasFora/obj/Debug/net8.0/ref/
CSharp/JogandoCartasFora/obj/Debug/net8.0/refint/
CSharp/Fórmula de Bhaskara/bin/
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.csproj.BuildWithSkipAnalyzers
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.csproj.CoreCompileInputs.cache
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.csproj.FileListAbsolute.txt
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.dll
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.genruntimeconfig.cache
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.pdb
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/Fórmula de Bhaskara.sourcelink.json
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/apphost.exe
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/ref/
CSharp/Fórmula de Bhaskara/obj/Debug/net8.0/refint/